<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>Database</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>/Users/marwyn/Projects/TodoApp/TodoApp/Database.sqlite3</string>
		<key>DatabaseName</key>
		<string>Database.sqlite3</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string>/Users/marwyn/Projects/TodoApp/TodoApp/Database.sqlite3</string>
		<key>DatabasePort</key>
		<string>5432</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string></string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>SQLite</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<integer>0</integer>
		<key>ID</key>
		<string>BD69B02C-4FD4-4F83-BF4B-44815CE9AB42</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadItems</key>
		<integer>0</integer>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<integer>0</integer>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>Database.sqlite3.Database.sqlite3.Users</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>Database.sqlite3.Database.sqlite3</string>
		</array>
		<key>SectionStates</key>
		<dict/>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<integer>0</integer>
		<key>ShowSequenceSection</key>
		<integer>0</integer>
		<key>ShowSystemSchemas</key>
		<integer>0</integer>
		<key>ShowUserDefineSection</key>
		<integer>0</integer>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string></string>
		<key>TlsKeyPaths</key>
		<array/>
		<key>isOverSSH</key>
		<integer>0</integer>
		<key>isUsePrivateKey</key>
		<integer>0</integer>
		<key>isUseSocket</key>
		<integer>0</integer>
		<key>statusColor</key>
		<string>#686B6F</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
